.mdc-data-table__table{
    min-width: 90%;
    margin: auto;
}
.mat-column-Description{
    width: 30%;
}
.mat-column-Price{
    text-align: center;
}
.mat-column-DiscountedPrice{
    width: 10%;
}
.mat-column-Actions{
    text-align: center !important;
}
td, th{
    text-align: center;
}

.searchBar{
    margin: auto;
    display: flex;
    justify-content: center;
    padding-top: 3rem;
    width: fit-content;
    align-items: center;
    margin-top: 6rem;
    
}

mat-form-field{
    min-width: 250%;
}

.showtable{
    padding: 0 5rem;
}