mat-grid-tile {
    border: 1px solid #575656;
}
.container{
    margin-top: 6rem !important;
}

.btn-remove-img {
    position: absolute;
    cursor: pointer;
    top: -10px;
    right: -10px;
    background-color: red;
    color: white;
    border-radius: 50%;
    width: 20px;
    height: auto;
    text-align: center;
}

.dropzone {
    height: 150px;
    min-width: 100px;
    width: auto;
    background-color: #eee;
    border: 1px solid #aaa;
    border-radius: 10px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-browse{
    color: rgb(64, 64, 240);
    cursor: pointer;
}

