<div class="container mt-5" >
    <div class="card p-2">

        <div class="row">
            <div class="col-6">
                <form #productForm="ngForm" (ngSubmit)="addProduct(productForm)">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Enter Product Name</mat-label>
                        <input matInput placeholder="Enter Product Name" [(ngModel)]="product.productName"
                            name="productName">
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Enter Product Description</mat-label>
                        <input matInput placeholder="Enter Product Description" [(ngModel)]="product.productDescription"
                            name="productDescription">
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Enter Product Price</mat-label>
                        <input matInput placeholder="Enter Product Price" [(ngModel)]="product.productPrice"
                            name="productPrice">
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Enter Product Discount Price</mat-label>
                        <input matInput placeholder="Enter Product Discount Price"
                            [(ngModel)]="product.productDiscountPrice" name="productDiscountPrice">
                    </mat-form-field>



                    <div class="d-flex justify-content-end ">
                        <button *ngIf="isNewProduct" mat-raised-button color="primary" style="margin-right: 5px;" type="submit">
                            Add Product</button>
                        <button *ngIf="!isNewProduct"  mat-raised-button color="primary" style="margin-right: 5px;" type="submit"> 
                            Update Product
                        </button>
                        <button mat-raised-button color="warn">Clear</button>
                    </div>
                </form>


            </div>
            <div class="col-6">
                <div>
                    <div class="dropzone" appDrag (files)="fileDrop($event)">
                        <div class="dropzone-mess">
                            Drag and drop or
                            <a (click)="selectFile.click()" class="btn-browse">browse</a>
                            your files here.
                        </div>
                    </div>

                    <input type="file" multiple value="select" #selectFile (change)="onFileSelected($event)"
                        style="display: none;">
                </div>
                <div class="mt-5">
                    <div class="row">
                        <mat-grid-list cols="4" rowHeight="1:1">
                            <mat-grid-tile *ngFor="let file of product.productImg; let i = index;">
                                <div style="position: relative;">
                                    <span class="btn-remove-img" (click)="removeImg(i)">x</span>
                                    <img [src]="file.url" width="100px" height="100px">
                                </div>
                            </mat-grid-tile>
                        </mat-grid-list>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>