<mat-toolbar color="primary">
    <button *ngIf="isLoggedIn()" routerLink="/" mat-icon-button class="example-icon"
        aria-label="Example icon-button with menu icon">
        <mat-icon>home</mat-icon>
    </button>
    <span *ngIf="! isLoggedIn()" routerLink="/">MeinKarmpShop</span>
    <span>
        <a class="nav-link active" aria-current="page" routerLink="/admin"
            *ngIf="userService.roleCheck(['Admin'])">Admin Dashboard</a>
    </span>
    <span>
        <a class="nav-link active" aria-current="page" routerLink="/user" *ngIf="userService.roleCheck(['User'])">User
            Dashboard</a>
    </span>
    <span class="example-spacer"></span>
    <button mat-raised-button *ngIf="! isLoggedIn()" routerLink="/login">Login</button>
    <button mat-raised-button color="warn" *ngIf="isLoggedIn()" (click)="logout()">Logout</button>
</mat-toolbar>


