<link rel="preconnect" href="https://fonts.googleapis.com">

<body>
    <section id="home">
        <div class="home_page ">
            <div class="home_img ">
                <img src="../../assets/img/banner.jpg" alt="img ">
            </div>
            <div class="home_txt ">
                <p class="collectio ">SUMMER DEAL</p>
                <h2>SUMMER<br>BACK TO SCHOOL 2023</h2>
                <div class="home_label ">
                    <p>A specialist label creating luxury essentials. Ethically crafted<br>with an unwavering commitment
                        to
                        exceptional quality.</p>
                </div>
                <button class="btn-buy"><a href="#home-container">SHOP NOW</a><i
                        class='bx bx-right-arrow-alt'></i></button>
            </div>
        </div>


    </section>



    <div class="homepage-container" id="home-container">
        <div class="searchBar container">
            <mat-form-field appearance="outline">
                <mat-label>Find Product</mat-label>
                <input #searchbykeyword (keyup) = "searchByKeyWord(searchbykeyword.value)" matInput placeholder="Enter your product name">
                <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
        </div>
        <div class="seller container">
            <h2>Top Sales</h2>
            <div class="best-seller">
                <div class="best-p1" *ngFor="let x of productDetails">
                    <img [src]="x.productImg[0].url" alt="img" class="productImg">
                    <div class="best-p1-txt">
                        <div class="name-of-p">
                            <p class="homepage_product-name">{{x.productName}}</p>
                            <p class="homepage_product-decs">{{x.productDescription}}</p>
                        </div>

                        <div class="price">
                            <p><del>Actual Price: {{x.productPrice.toLocaleString()}}</del><br> </p>
                        </div>
                        <div>
                            <p class="discount-price">Discounted Price: {{x.productDiscountPrice.toLocaleString()}}</p>
                        </div>

                        <div class="buy-now">
                            <button (click)="viewProductDetails(x.id)">
                                <p>Buy Now</p>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center" *ngIf="isMoreProduct">
        <button (click)="showNextPage()">Load More</button>
    </div>

</body>