
<div class="container d-flex flex-column" style="justify-content: center; align-items: center; height: 80%;">
    <img src="../../assets/logo.png" alt="" width="200px" height="200px">
    <h1>Welcome back commrade</h1>
    <div class="card" style="padding: 20px; width: 50%;">
        <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">

            <mat-form-field appearance="outline" class="w-100">
                <mat-label>UserName</mat-label>
                <input ngModel name="userName" id="userName" matInput placeholder="Enter your username">
                <mat-icon matSuffix>person</mat-icon>
            </mat-form-field>

            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Password</mat-label>
                <input type="password" ngModel name="userPassword" id="userPassword" matInput placeholder="Enter your password">
                <mat-icon matSuffix>lock</mat-icon>
            </mat-form-field>

            

            <button class="w-100" type="submit" value="Login" mat-raised-button color="primary">Login</button>

            <p class="register">Don't have an account? Register <a class="toRegister" (click)="registerNewUser()">here</a></p>
        </form>
    </div>
</div> 