<div id="orderconfirmation">

    <div id="balloon">
        <div class="balloon"></div>
        <div class="basket"></div>
        <div class="cloud"></div>
    </div>

    <div class="rentalinfo">
        <h1>Your order has been approved! It should be delivered within 4-5 days</h1>
        <p>We've sent you a mail with all the details. Please check your email for your order status</p>
        <p class="rentalsubtext">Just show your confirmation mail when you arrive and you will be handed your products.
        </p>
    </div>

</div>